#gallery img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    max-height: 200px;
}

#gallery img.broken {
	height: 0;
}

.birdImageWrapper:hover {
	z-index: 10000;
	transform: scale(1.6);
}

#gallery > .birdImageWrapper:nth-child(3n):hover {
	transform-origin: right;
}

.birdImageWrapper {
	background-color: #FFF;
	padding: 5px;
}

.birdImageWrapper .birdLabel {
	text-align:center;
	text-decoration: none;
	font-family: unset;
	color: crimson;
	font-weight: bold;
}

.birdImageWrapper a {
	text-decoration: none;
	color: crimson;
}

div.leftFixed {
	position: fixed;
	padding-left: 20px;
}
